<h1>
    <%= title %>
</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ratione ullam voluptates incidunt neque impedit quia,
    nisi reprehenderit dicta exercitationem, repellat labore enim perspiciatis. Rerum mollitia et quos optio voluptatem.
</p>